<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.web.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.ming.apiCommon.model.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
        <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
        <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
        <result property="accessKey" column="accessKey" jdbcType="VARCHAR"/>
        <result property="secretKey" column="secretKey" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userName,userAccount,
        userAvatar,gender,userRole,
        userPassword,accessKey,secretKey,createTime,updateTime,
        isDelete
    </sql>

    <!--获取用户权限列表-->
    <select id="getRoleList" resultType="java.lang.String">
        select r.roleName
        from user u
                 inner join in_user_role iur on u.id = iur.userId
                 inner join role r on iur.roleId = r.id
        where u.id = #{id}
    </select>
</mapper>
